@CHARSET "utf-8";

input.ng-invalid {
	background-color: pink;
}

input.ng-valid {
	background-color: lightgreen;
}

textarea {
	padding: 2px;
	border-radius: 4px;
	border: 1px solid #bbb;
}

input[type=text] {
	padding: 8px;
	border-radius: 4px;
	border: 2px solid #c0c0c0;
}

input[type=date] {
	padding: 8px;
	border-radius: 2px;
	border: 2px solid #c0c0c0;
}

input[type=number] {
	padding: 8px;
	border-radius: 4px;
	border: 2px solid #c0c0c0;
}

select {
	padding: 8px;
	border-radius: 4px;
	border: 2px solid #c0c0c0;
}

div.album {
	float: right;
	width: 300px;
	margin-right: 10px;
	min-height: 200px;
	border: 2px solid #8080ff;
	border-radius: 5px;
	background-color: #ffff80;
	position: relative;
	left: -25%;
	font-style: oblique;
}

div.album div.description {
	padding: 10px;
}