<h1>All Your Purchased Coupon`s</h1>
<br />
<br />
<div id="input">
	<p>
		<input type="text" ng-model="search" size="30"
			placeholder="Serch Me!!!">
	</p>
</div>
<main ng-if="allPurchased" ng-repeat="webCustomer in webCustomers">
<div id="company" style="float: left;">
	<div id="cHeader">
		<p>Customer Name:{{webCustomer.customerName}}</p>
	</div>
	<p>Customer Email:{{webCustomer.customerEmail}}</p>
	<p>Customer id:{{webCustomer.id}}</p>
	<br /> <br />
	<div id="fotter">site design / logo © 2017</div>
</div>
<div id="coupon"
	ng-repeat="coupon in webCustomer.coupons | filter:search">

	<div id="cHeader">
		<span>Title:{{coupon.title}}</span>
		<div style="float: right;">End At:{{coupon.endDate}}</div>
	</div>
	<span style="float: right"> <img
		ng-src="data:image/jpg;base64,{{coupon.imag}}" width="50" height="50" id="image" />
	</span>
	<div>
		<span class="outside">Price:</span> <span class="inside">{{coupon.price
			| currency:"ILS-"}}</span>
	</div>
	<div>
		<span class="outside">Still Left:</span> <span class="inside">{{coupon.amount}}</span>
	</div>
	<div>
		<span class="outside">Id :</span><span class="inside">{{coupon.id}}</span>
	</div>
	<div>
		<span class="outside">Start Date :</span> <span class="inside">{{coupon.startDate}}</span>
	</div>
	<div>
		<span class="outside">type :</span><span class="inside">{{coupon.type}}</span>
	</div>
	<div>
		<span class="outside">Message:</span> <span class="inside">{{coupon.massage}}</span>
	</div>
	<br /> <br /> <br />
	<div id="fotter">site design / logo © 2017</div>
</div>
</main>

